
body {
    /*
    background-image: url('../asset/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    margin: 0;
}

.content{
    display: flex;
    margin: 0;
    padding-inline: 2rem;  
    font-size: 18px;       /* base font size */
    flex-direction: column;
    /*TEXT FORMAT*/
    font-family: 'Times New Roman', Times, serif;
    /*color: #f7e371;*/
}
/* Paintings Animation */

.paintings-style :hover {
    transform: scale(1.08);
    opacity: 0.8;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* Header layout */
header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color:gray; /*placeholder*/
    padding: 1em 2rem 0rem 2rem;
    margin-bottom: 0rem;
}

header .right {
    margin-left: auto;
}

.navigation-bar {
    display: flex;
    padding: 0.5rem 1rem 0.5rem 1rem;
    justify-content: center;
    background-color: rgb(189, 189, 189); /*placeholder*/
}

.navigation-bar a {
    text-decoration: none;
    padding: 0rem 2rem;;
    font-size: 1.1rem;
    font-style: bold;
    color: black;
    font-family: serif;
}

/*footer layout*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    padding: 10px;
    background-color:gray; /*placeholder*/
    padding: 1em 2rem 1rem 2rem;
}

footer .left {
    text-align: left;
}

footer .center {
    text-align: center;
    flex: 1; 
}

footer .right {
    text-align: right;
}

/*text content for art style and theme pages */

.content {
    padding: 2rem 9rem 3rem 9rem;
}

.content > p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
}

.title-style {
    font-size: 3.9rem;
    font-style: italic;
    margin-bottom: -0.7rem;
}