/* General Body and Content Styles */
body {
    background-image: url('../asset/indexbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    margin: 0;
    color: #fff2e1;
}

/*Text Content Styles for All Pages*/
.content{
    display: flex;
    margin: 0 auto;
    padding-inline: 2rem;  
    font-size: 18px;       /* base font size */
    flex-direction: column; 
    font-family: 'Times New Roman', Times, serif;
    padding: 2rem 9rem 3rem 9rem;
}

/*Image Animation */
.paintings-style {
    display: inline-block; 
}
.paintings-style img {
    display:block;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.paintings-style:hover img{
    transform: scale(1.05);
    opacity: 0.8;
}

/*Image Animation for Artstyles Subpages: Zoom In Effect*/
.imganimation {
    border-radius: 8px;
    width: 100%;
    height: 100%
}

/* Header layout and Content*/
header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color:#090705;
    padding: 1em 2rem 1rem 2rem;
    margin-bottom: 0rem;
}

header > h1 {
    color: #f3cb63;
}

header .right {
    margin-left: auto;
}

.navigation-bar {
    display: flex;
    padding: 0.5rem 1rem 0.5rem 1rem;
    justify-content: center;
    background-color: #29241f;
}

.navigation-bar a {
    text-decoration: none;
    padding: 0rem 2rem;;
    font-size: 1.1rem;
    font-style: bold;
    color: #fff2e1;
    font-family: serif;
}

/*Footer layout and Content*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    padding: 10px;
    background-color:#090705;
    padding: 1em 2rem 1rem 2rem;
}

footer .left {
    text-align: left;
}

footer .center {
    text-align: center;
    flex: 1; 
}

footer .right {
    text-align: right;
}

/*Text Content Layout for All Pages*/



.content > p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
}

.title-style {
    font-size: 3.9rem;
    font-style: italic;
    margin-bottom: -0.7rem;
    margin-left: -7rem;
}


