body {
    margin: 0;
    padding-inline: 2rem;  
    font-size: 16px;       /* base font size */
}

/* Header layout */
header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

header .right {
    margin-left: auto;
}

/*footer layout*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    padding: 10px;
}

footer .left {
    text-align: left;
}

footer .center {
    text-align: center;
    flex: 1; 
}

footer .right {
    text-align: right;
}