body {
    margin: 0;
    padding-inline: 2rem;  
    font-size: 16px;       /* base font size */
}

        /* Header layout */
header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

header .right {
    margin-left: auto;
}