* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: white; /*PLACEHOLDER*/
}

.content {
    background: rgb(189, 189, 189); /*PLACEHOLDER*/
    width: 90%;
    max-width: 800px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.content h1 {
    font-size: 30px;
    border-bottom: 1px solid #000000; /*placeholder*/
    padding-bottom: 30px;
}
.quiz {
    padding: 20px 0;

}

.quiz h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.btn {
    border-color: black; /*placeholder*/
    font-weight: 500;
    border: 1px solid;
    padding: 20px;
    margin: 10px 0 4px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;

    display: flex;
    align-items: center;     /* vertical center */
    justify-content: center;
}

.btn:hover:not([disabled]) {
    background: black; /*placeholder*/
    color: white; /*placeholder*/
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: rgb(255, 255, 255);
    color: black;
    font-weight: 500;
    width: 200px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;  
    display: none;
    font-family:'Times New Roman', Times, serif;
}

.correct {
    background: rgb(122, 252, 122);
}

.incorrect {
    background: rgb(252, 97, 97);
}