* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: white; /*PLACEHOLDER*/
}

.content {
    background: rgb(189, 189, 189); /*PLACEHOLDER*/
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.content h1 {
    font-size: 25px;
    border-bottom: 1px solid #000000; /*placeholder*/
    padding-bottom: 30px;
}
.quiz {
    padding: 20px 0;

}

.quiz h2 {
    font-size: 18px;
}

.btn {
    border-color: black; /*placeholder*/
    font-weight: 500;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: black; /*placeholder*/
    color: white; /*placeholder*/
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: rgb(255, 255, 255);
    color: black;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;  
    display: none;
}

.correct {
    background: rgb(122, 252, 122);
}

.incorrect {
    background: rgb(252, 97, 97);
}