* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: gray; /*PLACEHOLDER*/
}

.content {
    background: #fff; /*PLACEHOLDER*/
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.content h1 {
    font-size: 25px;
    border-bottom: 1px solid #333; /*placeholder*/
    padding-bottom: 30px;
}
.quiz {
    padding: 20px 0;

}

.quiz h2 {
    font-size: 18px;
}

.btn {
    font-weight: 500;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
