/*Main CSS*/
body {
    background-image: url('../../../asset/artstylebg.png');
}

.content {
    max-width: 900px;
    padding: 1rem 1rem 2rem 1rem;
    margin-top: -1.8rem;
}


/*Image formatting for other works section*/
.flex-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgba(255, 242, 225, 0.22);
    padding: 1rem;
    border-radius: 13px;
    margin: 0 auto;
}

.column {
    width: 17rem;
    text-align: center;
}

.column img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.column > p {
    margin-top: -1rem;
}

/** Zoom in analysis section*/
.frame {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 7px;
    justify-content: center;
    display: flex;
}

.frame img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.dot {
    position: absolute;
    cursor: pointer;
}

.dot img {
    height: 50px;
    width: auto;
}

.dot img:hover {
    transform: scale(1.2);
    opacity: 0.8;
    transition: transform 0.5s ease, opacity 0.5s ease;
}       
        
.note {
    position: absolute;
    display: none;
}


    
