/*Artist's Work Section*/
        /*image formatting of the artist's famous works*/
        .flex-container {
            display: flex;
            justify-content: center;
            gap: 2rem;
            background-color: rgba(255, 242, 225, 0.22);
            padding: 1rem;
            border-radius: 13px;
            max-width: 900px;
            margin: 0 auto;
        }

        .column {
            width: 300px;
            text-align: center;
        }

        .column img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 12px;
        }


        /*minor adjustment to the description spacing*/
        .column > p {
            margin-top: -1rem;
        }

